#form-SignIn {
    border-radius: 20px;
    position: fixed;
    top: 50%;
    left: 50%;
    height: auto;
    width: 30%;
    font-size: larger;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    z-index: 1000; 
    display: none; 
    background-color: rgb(225, 222, 222);
}


#form-SignIn{
    display: none;
  }
  
  .form-container, #form-SignIn, .warning-container {
      border-radius: 20px;
      position: fixed;
      top: 50%;
      left: 50%;
      height: auto;
      width: 30%;
      font-size: larger;
      transform: translate(-50%, -50%);
      background-color: #fff;
      padding: 20px;
      z-index: 1000; 
      display: none; 
      background-color: rgb(225, 222, 222);
  }
  
  .form-input-div select, 
  .form-input-div input[type="text"], 
  .form-input-div input[type="password"], 
  .form-input-div input[type="login"],
  .form-input-div input[type="date"],
  .form-input-div input[type="text"], 
  .form-input-div input[type="date"] {
    border-radius: 7px;
    border: 1px solid rgb(141, 139, 139);
    width: 100%;
    font-size: 80%;
    padding: 2%;
    background-color: rgba(217, 209, 209, 0.808);
  }
  
  .form-input-div label {
    display: flex;
    width: 40%;
    text-align: end;
    padding: 1%;
    font-size: 85%;
    overflow:visible;
    padding-right: 10px;
  }
  
  .form-input-div {
    padding: 4%;
    margin: 3%;
    border-radius: 10px;
    border: 1px solid rgb(117, 116, 116); 
    /*display: flex;*/
    justify-content: space-between;
    align-items: center;
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999; 
    display: none; 
}

.errorSpan {
  color: red;
  font-size: 10px;
  display: inline-block;
  display: none;
  padding-top: 3%;
}
