.row.message-window{
    overflow-y: auto;
}
.border{
    color: white;
    background-color: rgb(86, 86, 86);
}
.list-group-item.active {
    background-color: rgb(86, 86, 86);
}
body {
    overflow-y: hidden;
    margin: 0;
    font-family: OpenSans,Helvetica,Arial,sans-serif;
    background-color: rgb(86, 86, 86);
}
.message-window {
  height: 95vh;
}
.card{
    height: 90vh;
    background-color: rgb(200, 196, 196);
}
.card-body{
    max-height: 10%;
    padding-top: 1%;
    padding-bottom: 1%;
    overflow-x: auto;
    word-break: break-all;
}
.user-list {
    padding-right: 10%;
    padding-bottom: 1%;
  overflow-y: auto;
  background-color: rgb(200, 196, 196);
}

.own-message {
  justify-content: flex-end;
}
.other-message {
  justify-content: flex-start;
}
.center-message {
    display: flex; 
    justify-content: center;
    align-items: center; 
}
.user-img {
  display: inline-block;
}
.card-no-border{
    border: none;
}
.chat-item:hover {
    background-color: rgb(86, 86, 86);
  cursor: pointer;
}
.card-body-scrollable {
    max-height: calc(100vh - 140px);
    overflow-y: auto;
    scroll-behavior: smooth;
}
.list-group-item.active{
    border-color: transparent;
}
.card-body-scrollable::-webkit-scrollbar {
    width: 12px;
}

.card-body-scrollable::-webkit-scrollbar-thumb {
    background-color: rgb(86, 86, 86);
    border-radius: 6px;
}

.card-body-scrollable::-webkit-scrollbar-track {
    background: transparent;
}

.btn-link{
    color: white;
}

a{
    color: white;
}

a:hover, .btn-link:hover {
    color: rgb(200, 196, 196);
    text-decoration: none;
}

.dropdown-menu{
    background-color: rgb(200, 196, 196);
}

.dropdown-item:active {
    background-color: rgb(86, 86, 86);
}

.col-sm-3, .col-sm-7{
    background-color: rgb(200, 196, 196);
    padding-right: 0px;
}

.col{
    padding-left: 0px;
}

