

svg.edit > #pencil {
    transition: transform 1s ease;
  }

  svg.edit:hover > #pencil {
      transform: translate(5px, -5px);
  }

  svg:hover {
    transition-duration: 1s;
    transform: scale(1.25);
  }

  svg:not(:hover) {
    transition-duration: 1s;
  }

  #bell-svg:hover {
    transition-duration: 1s;
    transform: rotate(-30deg);
    color: brown;
  }

  #bell-svg:not(:hover) {
    transition-duration: 1s;
    transform: rotate(0deg);
  }

  @keyframes pulse {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

  #bell-circle {
    opacity: 0.5;
    animation: pulse 1s infinite; 
    animation-play-state: running;
  }

  #bell-svg:hover #bell-circle {
    animation-play-state: paused;
  }