header{
    background-color: rgb(86, 86, 86);  
  }

  body {
    margin: 0;
    font-family: OpenSans,Helvetica,Arial,sans-serif;
    background-color: rgb(200, 196, 196);
}
  .card-columns {
    column-count: 3;
  }
  .todo {
    background-color: #FF5733; /* червоний колір */
  }
  .inprogress {
    background-color: #FFD700; /* жовтий колір */
  }
  .done {
    background-color: #32CD32; /* зелений колір */
  }
  .menu-container {
    float: left;
    height: 20%;
    width: 100%;
    background-color: rgb(86, 86, 86);  
  }

  .menu-container {
    width: 100%;
    border-radius: 0px 0px 30px 0px;
}

.container {
    flex-direction: column;
}

.menu-container li {
    display: inline-block;
}

.btn-link{
  color: white;
}

a{
    color: white;
}

a:hover, .btn-link:hover {
    color: rgb(200, 196, 196);
    text-decoration: none;
}

.dropdown-menu{
    background-color: rgb(200, 196, 196);
}

.dropdown-item:active {
    background-color: rgb(86, 86, 86);
}

.col-sm-3, .col-sm-7{
    background-color: rgb(200, 196, 196);
    padding-right: 0px;
}

.col{
    padding-left: 0px;
}