  .container {
    display: flex;
    margin-top: 30px;
  }

  h1 {
    text-align: center;
    padding-top: 2%;
    margin: 0;
  }

  .menu-container {
    float: left;
    height: 100%;
    width: 20%;
    background-color: rgb(86, 86, 86);
    border-radius: 0px 0px 30px 0px;
    padding: 2%;
  }

  .table-container {
    height: 100%;
    margin-top: 20px;
    float: left;
    width: 100%;
  }

  .div-table {
    padding: 10px;
  }

  header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 50px;
    background-color: rgb(86, 86, 86);  
  }

  .header-container {
    width: 100%;
    display: flex; 
    justify-content: space-between;
    position: relative;
    align-items: center;
    height: 100%;
  }

  .header-menu-container {
    display: flex; 
    align-items: center;
    justify-content: space-around;
    width: auto;
  }

  .div-header-svgs {  
    width: auto;
  }

  body {
    margin: 0;
    height: 100%;
    font-family: OpenSans,Helvetica,Arial,sans-serif;
    padding-top: 10px;
    background-color: rgb(200, 196, 196);
  }
  
  header p {
    color: white;
    border-radius: 10%;
    padding-left: 5px;
    margin-right: 10px;
    text-align: center;
    word-break: keep-all;
    word-wrap: break-word; 
  }

  header div {
    display: flex;
    align-items: center;
    color: white;
  }

  ul {
    list-style: none;
    padding: 0;
  }

  nav ul li {
    list-style: none;
    padding: 5%;
    margin: 1%;
  }

  nav ul li a {
    color: white;
    word-wrap: break-word; 
    transition-duration: 500ms;
  }
  
  a {
    padding-left: 5px;
    color: white;
    width: 100%;
    text-decoration: none;
    font-family: OpenSans,Helvetica,Arial,sans-serif;
  }

  nav ul li:hover a {
    transition-duration: 1s;
    background-color: transparent;
    filter: drop-shadow(5px -2px 2px white);    
  }

  nav ul li a.active {
    background-color: transparent;
    filter: drop-shadow(5px -2px 2px white);    
  }

  table {
    width: 100%;
    border-collapse:collapse;
  }

  th {
    background-color: rgb(106, 106, 106);
    color: white;
  }

  tr, th, td {
    border: 1px solid black;
    padding: 1%;
    width: auto;
    text-align: center;
    font-size: 100%;
    word-break:keep-all;
    word-wrap: break-word;
  }

  tr:nth-child(2n){
    background-color: whitesmoke;
  }
  
  tr:nth-child(2n + 1){
    background-color: rgb(207, 207, 207);
  }

  .options-div {
    display: flex;
    justify-content:space-evenly;
  }

  td button {
    background-color: transparent;
    border-color: transparent;
    width: auto;
    height: auto;
  }

  td button svg {
    width: 100%;
    height: 100%;
  }

  svg.edit > #pencil {
    transition: transform 1s ease;
  }

  svg.edit:hover > #pencil {
      transform: translate(5px, -5px);
  }

  svg:hover {
    transition-duration: 1s;
    transform: scale(1.25);
  }

  svg:not(:hover) {
    transition-duration: 1s;
  }

  #bell-svg:hover {
    transition-duration: 1s;
    transform: rotate(-30deg);
    color: brown;
  }

  #bell-svg:not(:hover) {
    transition-duration: 1s;
    transform: rotate(0deg);
  }

  @keyframes pulse {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

  #bell-circle {
    opacity: 0.5;
    animation: pulse 1s infinite; 
    animation-play-state: running;
  }

  #bell-svg:hover #bell-circle {
    animation-play-state: paused;
  }
  
  #addRow {
    z-index: -1;
  }

  #addRow:hover {
    transition-duration: 1s;
    transform: rotate(-360deg);
    color: green;
  }

  #addRow:not(hover) {
    transition-duration: 1s;
    transform: rotate(0deg);
    color: black;
  }

  .dropdown {
    display: none;
    position: absolute; 
    max-height: 150px;
    top: 100%;
    width: 100%;
    border: 1px solid rgb(133, 129, 129);
    background-color: rgb(225, 222, 222);
    border-radius: 0px 20px;
    opacity: 1;
    z-index: 999;
    overflow-y: auto;
    max-height: 80px;
  }

  .dropdown ul a{
    color: black;
  }

  .dropdown ul {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
  }

  .dropdown ul li {
    padding: 10px;
    margin: 0;
    width: auto;
    white-space: nowrap;
    display: flex; 
    align-items: center;
  }

  .dropdown-item:hover {
    background-color: white;
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999; 
    display: none; 
}

.form-container, .warning-container {
    border-radius: 20px;
    position: fixed;
    top: 50%;
    left: 50%;
    height: auto;
    width: 30%;
    font-size: larger;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    z-index: 1000; 
    display: none; 
    background-color: rgb(225, 222, 222);
}

.form-input-div select, 
.form-input-div input[type="text"], 
.form-input-div input[type="date"] {
  border-radius: 7px;
  border: 1px solid rgb(141, 139, 139);
  width: 100%;
  font-size: 80%;
  padding: 2%;
  background-color: rgba(217, 209, 209, 0.808);
}

.form-input-div label {
  display: flex;
  width: 40%;
  text-align: end;
  padding: 1%;
  font-size: 85%;
  overflow:visible;
  padding-right: 10px;
}

.form-input-div {
  padding: 4%;
  margin: 3%;
  border-radius: 10px;
  border: 1px solid rgb(117, 116, 116); 
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 600px) {
  .div-table {
    width: 100%;
    height: auto; 
    overflow: scroll;
  } 

  .menu-container {
      width: 100%;
      border-radius: 0px 0px 30px 30px;
  }
  
  .container {
      flex-direction: column;
  }

  .menu-container li {
      display: inline-block;
  }

  .options-div {
    display: block;
  }

  tr, th, td {
    padding: 0;
  }
}