#form-SignIn {
    border-radius: 20px;
    position: fixed;
    top: 50%;
    left: 50%;
    height: auto;
    width: 30%;
    font-size: larger;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    z-index: 1000; 
    display: none; 
    background-color: rgb(225, 222, 222);
}